.principal {
  background-color: #ce1717;
  border: none;
  color: white;
  width: 80px;
  height: 80px;
  cursor: pointer;
  border-radius: 50%;
  margin-left: 2%;
  margin-top: 2%;
}

.principalAdmin {
  background-color: #2a1463;
  border: none;
  color: white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-left: 2%;
  margin-top: 2%;
}

.principalLogin {
  background-color: #ce1717;
  border: none;
  color: white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin:auto;
  margin-bottom: 3vh;
}

.principalCreateUser {
  background-color: #ce1717;
  border: none;
  color: white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-left: 2%;
  margin-top: 2vh;
  margin-left:auto;
  margin-right: 2vh;
  cursor: pointer;
}

.circle{
  background-color: #ce1717;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50%;
}

.webSite{
  background-color: #2a1463;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin-right: 10px;
  margin-top: 3%;
  cursor: pointer;
  font-family: 'Krona One', sans-serif;
  border-radius: 15px;
  width: 120px;
  height: 32px;
  
}

.plans{
  border-color: #2a1463;
  border-width: 1px;
  color: black;
  width: 300px;
  height: 40px;
  font-family: 'Open Sans', sans-serif;
  border-radius: 25px;
  cursor: pointer;
}

.plansClicked{
  background-color: #2a1463;
  color: white;
  width: 300px;
  height: 40px;
  font-family: 'Open Sans', sans-serif;
  border-radius: 25px;
  cursor: pointer;
}

.steps{
  font-family: 'Krona One', sans-serif;
  border-color: #f0f0f0;
  color: rgb(206, 195, 195);
  width: 300px;
  height: 40px;
  border-radius: 25px;
  font-size: 15px;
}

.stepOn{
  font-family: 'Krona One', sans-serif;
  background-color: #ce1717;
  border-color: #ce1717;
  color: rgb(206, 195, 195);
  width: 300px;
  height: 40px;
  border-radius: 25px;
  font-size: 15px;
}