
.carousel {
    margin: 0 auto;
    overflow: hidden;
    max-width: 900px;
    position: relative;
}

.carouselInner {
    white-space: nowrap;
    transition: ease 1s;
}

.carouselItem{
    display: inline-block;
    width: 90%;
}

.carouselIndicators{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 1.5em;
    z-index: 2;
}

.carouselIndicatorItem{
  width: 15px;
  height: 15px;
  border: none;
  background: #fff;
  opacity: 0.5;
  margin: 0.2em;
  border-radius: 50%;  
  cursor: pointer;
}

.carouselIndicatorItemActive{
    width: 15px;
    height: 15px;
    border: none;
    background: #fff;
    opacity: 0.5;
    margin: 0.2em;
    border-radius: 50%;  
    cursor: pointer;
    opacity: 1;
}