.displayColumn{
    display: flex;
    flex-direction: column;
}

.displayRow{
    display: flex;
    flex-direction: row;
}

.centerTop{
    margin: auto; 
    margin-top: 10vh;
}

.center{
    margin: auto;
}

.imageUploader{
    margin: auto;
    margin-top: 2vh;
    margin-bottom: -2vh;
}

.buttonTitle{
    margin-bottom: 100px;
}

.spaceBetween{
    margin-right: 3vh;
}