.kronaText{
    font-family: 'Krona One', sans-serif;
}

.openSansText{
    font-family: 'Open Sans', sans-serif;
}

.principal_small{
    margin: 0px;
    font-size: 11px;
}

.principal_big{
    font-size: 19px;
    font-weight: bold;
    margin: 0px;
}

.editionPrimaryTitle{
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 10%;
}

.editionTitle{
    font-size: 25px;
    font-weight: bold;
}

.margins{
    margin: auto;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.crearCuentaLink{
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
    color: #ce1717;
    font-weight: bold;
    margin-top: 2vh;
}

.crearCuentaLink:hover{
    color: #db5e5e
}

.link{
    text-decoration: underline;
    cursor: pointer;
    margin-top: 2vh; 
    margin-left: 5px;
    
}

.link:hover{
    color:#635858
}

.marginsCreateAccount{
    margin-left: 10vh; 
    margin-top: 5vh;
    margin-bottom:5vh;
}

.pastEditionsTitle{
    /* font-family: 'Krona One', sans-serif; */
    font-size: 20px;
    font-weight: bold;
}

.body{
    /* font-family: 'Open Sans', sans-serif; */
    font-weight: 20px;
    margin-top: 10%;
}

.bodyParticipation{
    /* font-family: 'Open Sans', sans-serif; */
    font-weight: 20px;
}

.subtitleSmall{
    /* font-family: 'Open Sans', sans-serif; */
    font-weight: 25px;
    margin-top: 10px;
}

.contactsTitle{
    /* font-family: 'Open Sans', sans-serif; */
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 10%;
    margin-top: 10%;
}

.contactsNames{
    /* font-family: 'Open Sans', sans-serif; */
    font-weight: bold;
    font-size: 10px;
}

.routesTitle{
    /* font-family: 'Krona One', sans-serif; */
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
}

.routesNames{
    /* font-family: 'Krona One', sans-serif; */
    font-size: 15px;
    font-weight: bold;
    margin-top: 10%;
}

.routesBody{
    /* font-family: 'Open Sans', sans-serif; */
    font-size: 15px;
    margin-top: 2%;
}

.header {
    font-size: 25px;
    /* font-family: 'Krona One', sans-serif; */
    color: white;
    text-align: left;
    position: absolute;
    top: 40%;
    bottom: 0;
    left: 3%;
    right: 0;
    height: fit-content;
}

.bodyMemberships{
    /* font-family: 'Open Sans', sans-serif; */
    font-weight: 20px;
    color: white;
    text-align: left;
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 3%;
    right: 0;
    height: fit-content;
    width: 35%;
    margin-right: auto;
}

.membershipTitle{
    color: #2a1463;
    /* font-family: 'Krona One', sans-serif; */
    font-size: 15px;
    margin-bottom: 2%;
}

.membershiPrice{
    font-weight: bold;
    margin-bottom: 10%;
}



.incorrectUser{
    color: #ce1717;
    text-align: center;
    margin-top: 2vh;
    font-size: 15px;
    font-weight: bold;
}

.address{
    color: #ce1717;
    font-size: 25px;
    margin-left: 10vh;
}

.placeTitle{
    font-size: 20px;
    margin-bottom: 2vh;
    margin-top: 1vh;
}